.listItem {
  width: 225px;
  height: 300px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  color: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    width: 450px;
    height: 600px;
    position: absolute;
    top: -150px;

    img {
      height: 450px;
    }
  }
}
